PGHOST=localhost
PGPORT=5432
PGDATABASE=employment_tracker
PGUSER=postgres
PGPASSWORD=postgres
PORT=3000
LLM_API_KEY=你自己的密钥
LLM_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
LLM_MODEL=ep-20260402120500-jhp7z
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Employment@2026
ADMIN_DISPLAY_NAME=系统管理员
